spring:
  application:
    name: demo
  datasource:
    url: jdbc:mysql://localhost:3306/teste
    password: root
    username: root
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: SEU EMAIL
    password: SUA SENHA GERADA
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret:
    key: SENHA DE SUA ESCOLHA